/* General Reset for Margin and Padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  background: #efefef;
  color: black;
  font-family: sans-serif;
  margin: 0 2em;
  padding: 1em;
  text-align: left;
  overflow-x: auto;
  /* max-width: 37em; */
}

/* Headings Styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: left;
  margin: 1.2em 0 0.6em;
}

h4,
h5 {
  margin: 1em 0 0.1em;
}

h6 {
  margin: 0;
}

/* Links Styling */
a:link {
  color: #203fa1;
  text-decoration: underline;
}

/* a:visited {
  color: #0c35b9;
  text-decoration: underline;
} */

/* Bold Text */
b {
  font-weight: bold;
}

/* Table and List Styling */
th,
td {
  vertical-align: top;
  text-align: left;
  padding: 0.5em;
}

ul {
  margin-inline-start: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  body {
    margin: 0 1em;
  }
}

@media (max-width: 480px) {
  body {
    padding: 1em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2em;
  }
}
